{% extends 'base.html.twig' %}

{% block title %}New FormData{% endblock %}

{% block body %}
    <h1>Create new FormData</h1>

    {{ include('form_data/_form.html.twig') }}

    <a href="{{ path('form_data_index') }}">back to list</a>
{% endblock %}
